  <header>
    <%= image_tag "logo.png", class: "logo" %>
    <a href="#"><%= image_tag "heart.png", class: "menu" %></a>
  </header>

  <nav id="main_nav">
    <ul>
      <li>All</li>
      <li>Development</li>
      <li>Design</li>
      <li>Business</li>
      <li>Sys Admin</li>
      <li>Miscellanea</li>
    </ul>
  </nav>

  <h1> Keep your head while everyone around you is losing theirs. </h1>

  <article>
    <section>
      <div class="icon">
        <%= image_tag "heart.png" %>
      </div>
      <div class="post">
        <header>
          <h1> Our first year, in a nutshell. </h1>
        </header>
        <span>Written by <a href="#">Roberto Machado</a> on January, 25th.</span>
        <p>
          I’d be happy if 37signals is the last place I work. In an industry so focused on the booms and busts, I find myself a kindred spirit with the firms of old. Places where people happily reported to work for 40 years, picking up a snazzy gold watch at the end as a token of life-long loyalty.</p>
        <p>
        Since the beginning, Basecamp has been marketed as a collaboration tool for small businesses (or small groups inside larger businesses).
However, over the years we’ve also heard from many thousands of people who use Basecamp outside of work. They’ve turned to Basecamp to help them manage home improvement projects, hobby projects, volunteer projects, school projects, weddings, etc.</p>

<p>But one complaint we’ve heard is… Basecamp is priced for businesses, not for personal side projects.
So today we’re going to make it easier for people to use Basecamp for their non-work projects. </p>
<p>Today we launch Basecamp Personal.</p>

        <div class="comments">
        comentários
        </div>
        <aside>
          <div class="foto">
            <%= image_tag "roberto.png" %>
          </div>
          <div class="about">
            <header>
              <h2> About Roberto </h2>
            </header>
            <p> Jason co-founded 37signals back in 1999. He also co-authored REWORK, the New York Times bestselling book on running a “right-sized” business. Co-founded, co-authored... Can he do anything on his own?
            </p>
            <span>
              Read more from <a href="#">Roberto</a> or follow him on <a href="#">Twitter</a>.
            </span>
          </div>
        </aside>
      </div>

    </section>
  </article>
  <article>
    <section>
      <div class="icon">
        <%= image_tag "heart.png" %>
      </div>
      <div class="post">
        <header>
          <h1> Our first year, in a nutshell. Big ass fuckin' title, this is for a test. Check it out y'all!</h1>
        </header>
        <span>Written by <a href="#">Roberto Machado</a> on January, 25th.</span>
        <p>
          I’d be happy if 37signals is the last place I work. In an industry so focused on the booms and busts, I find myself a kindred spirit with the firms of old. Places where people happily reported to work for 40 years, picking up a snazzy gold watch at the end as a token of life-long loyalty.
        </p>
        <div class="comments">
        comentários
        </div>
        <aside>
          <div class="foto">
            <%= image_tag "roberto.png" %>
          </div>
          <div class="about">
            <header>
              <h2> About Roberto </h2>
            </header>
            <p> Jason co-founded 37signals back in 1999. He also co-authored REWORK, the New York Times bestselling book on running a “right-sized” business. Co-founded, co-authored... Can he do anything on his own?
            </p>
            <span>
              Read more from <a href="#">Roberto</a> or follow him on <a href="#">Twitter</a>.
            </span>
          </div>
        </aside>
      </div>

    </section>

  </article>
  <footer>
    <section class="moto">
      <p>This is the <a href="http://www.groupbuddies.com" class="gb">GroupBuddies</a> blog, designed to share our thoughts about the job we love.</p>
    </section>
    <section>
      <header>
        Categories
      </header>
      <nav>
        <ul>
        <li><a href="">All </a>/</li>
        <li><a href="">Development </a>/</li>
        <li><a href="">Design </a>/</li>
        <li><a href="">Business </a>/</li>
        <li><a href="">Sys Admin </a>/</li>
        <li><a href="">Miscellanea</a></li>
        </ul>
      </nav>
    </section>
  </footer>